body{
  background-color: #f2f2f2;
  overflow:auto; 
}

table,table2,table3 {
    font-family:sans-serif;
    font-size: 9.5px;
    font-weight: bold;
    color:#5a6c79;
    border-collapse: separate;
    border-spacing: 0 5px;
   
  }
 
   td {
    padding: 8px;
    text-align: left;
    width: 190px;
    background-color: #e5e7e8; 
  }

  tr:hover td  {
    background-color: #edeff0;
  }
  tr:hover th{
    background-color: #edeff0;
  }
  
  
  th {
    padding: 8px;
    text-align: left;
    width: 190px;
    font-weight: bold;
    background-color: #e5e7e8;
    top: 0px;
  }

  
  td:first-child,
  th:first-child {
    border-radius: 10px 0 0 10px;
  }
  td:last-child,
  th:last-child {
    border-radius: 0 10px 10px 0;
  }

  
  

#table,#table2,#table3 {
  height: 300px;
  overflow-y: scroll; 
  position: absolute;
  right: 0px;
  top: 0px; 
 

}


#button_display,#button2_display,#button3_display{
  background-color: #2485E1;
  color: white; 
  border-radius: 8px;
  font-size: 14px;
  padding: 8px 55px;
  border:#2485E1;
  position: absolute;
  top: 120px;
  left: 200px;
}
#button_display:hover{
  background-color: #4498e6; 
  color: white;
}
#button2_display:hover{
  background-color: #4498e6; 
  color: white;
}
#button3_display:hover{
  background-color: #4498e6; 
  color: white;
}

#box,#box2,#box3{
  background-color: #F5F6F7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 1500px ;
  height: 300px;
  position: sticky; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
}
#box::before{
  content: "1.Clicking this button will return all the users from the server.";
  position: absolute;
  top: -15px;
  left: 0px;
  font-family:sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  color:#5a6c79;
}

#box2::before{
  content: "2.Clicking this button will return all the orders from the server.";
  position: absolute;
  top: -15px;
  left: 0px;
  font-family:sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  color:#5a6c79;
}
#box3::before{
  content: "3.Clicking this button will return ONLY the orders from Jane Doe";
  position: absolute;
  top: -15px;
  left: 0px;
  font-family:sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  color:#5a6c79;
}




