body{
  background-color: #f2f2f2;
  overflow:auto; 
}

table {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    border-collapse: separate;
    border-spacing: 0 15px;

  }
 
  
  
   td {
    padding: 8px;
    text-align: left;
    width: 180px;  
  }
  
  th {
    padding: 8px;
    text-align: left;
    width: 180px;
    background-color: #4CAF50;
    color: white;
  }

 
 tr:hover{
  background-color: #4498e6; 
  color: white;
 }
  

#table {
  height: 150px;
  overflow-y: scroll; 
  position: absolute;
  right: 30px;
  top: 30px; 
 

}
#button_display{
  background-color: #2485E1;
  color: white; 
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 55px;
  border:#2485E1;
  transition-duration: 0.4s;
  position: absolute;
  top: 150px;
  left: 200px;
}
#button_display:hover{
  background-color: #4498e6; 
  color: white;
  
}
#box{
  background-color: #F5F6F7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  width: 1400px ;
  height: 400px;
  position: sticky; 
  margin-left: auto;
  margin-right: auto;
  
  
}